.card {
    width: 100%;
    // max-width: 300px;
    padding: 9px 9px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #000;

    box-shadow: 20px 20px 20px 0px #00000038;

    &__title {
      position: relative;
      width: 80%;
      display: inline;
      margin: 0 auto 10px;
      letter-spacing: 0.25em;

      font-size: 12px;
      font-weight: 500;
      text-align: center;
      // text-decoration: underline;

      span {
        background-image: linear-gradient(to right, #000 0%, #000 100%);
        background-repeat: repeat-x; 
        background-position: 0 90%; 
        background-size: 100% 1px; 
      }

    }

    &__img {
      height: 82px;
      margin-bottom: 10px;
      object-fit: cover;
    }

    &__description {
      letter-spacing: 0.25em;
      line-height: 1.65em;
    }

    @media screen and (min-width: 680px) {
        padding: 11px 8px 10px;
        border-width: 2px;

        &__title {
          width: 100%;
          font-size: 14px;
        }

        &__img {
          height: 90px;
        }
      }
    
      @media screen and (min-width: 1280px) {
        padding: 11px 25px 19px;


        &__title {
            font-size: 16px;
        }
      }
}