.portfolio {
	padding: 12px 0;
	
	&__title {
		padding-left: 29px;
		margin-bottom: 16px;

		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.25em;
	}
	&__cards {
		position: relative;
		padding: 36px 29px 35px;
		display: grid;
		grid-row-gap: 30px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			background: #000;
			width: 243px;
			height: 6px;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		&::before {
			top: 0;
			left: 0;
		}
	}

	@media screen and (min-width: 680px) {
		&__title {
			font-size: 32px;
		}

		&__cards {
			justify-content: center;
			margin: 0 auto;
			grid-column-gap: 58px;
			grid-template-columns: repeat(auto-fit, minmax(196px, 296px));
		}
	}

  @media screen and (min-width: 1280px) {
		&__title {
			font-size: 64px;
		}

		&__cards {
			grid-column-gap: 120px;
		}
  }
}