.portfolio {
	padding: 12px 0 20px;
	
	&__title {
		padding-left: 29px;
		margin-bottom: 16px;

		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.25em;
	}
	&__cards {
		position: relative;
		padding: 36px 29px 35px;
		display: grid;
		grid-row-gap: 30px;
		justify-content: center;
		grid-column-gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(260px, 340px));

		&::after,
		&::before {
			content: '';
			position: absolute;
			background: #000;
			width: 243px;
			height: 6px;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		&::before {
			top: 0;
			left: 0;
		}
	}

	@media screen and (min-width: 680px) {
		padding-bottom: 30px;
		&__title {
			padding-left: 69px;
			margin-bottom: 18px;

			font-size: 32px;
		}

		&__cards {
			padding-top: 55px;
			padding-bottom: 53px;
			justify-content: center;
			margin: 0 auto;
			grid-column-gap: 58px;
			grid-template-columns: repeat(auto-fit, minmax(196px, 296px));
			grid-row-gap: 50px;

			&::after,
			&::before {
				width: 415px;
				height: 10px;
			}
		}
	}

  @media screen and (min-width: 1280px) {
		&__title {
			padding-left: 124px;
			font-size: 64px;
			margin-bottom: 40px;
		}

		&__cards {
			padding-top: 100px;
			padding-bottom: 100px;
			grid-column-gap: 120px;
			grid-template-columns: repeat(auto-fit, minmax(196px, 330px));

			&::after,
			&::before {
				width: 750px;
				height: 20px;
			}
		}
  }
}